.dark-primary-color    { background: #1c313a; }
.default-primary-color { background: #ffffff; }
.light-primary-color   { background: #e5e5e5; }
.accent-color-red   { background: #895352; }
.primary-text-color    { color: #455a64; }
.accent-color-dark-red     { color: #543332; }
